{% extends "registration/base.html" %}
{% load static from staticfiles %}
{% block title %}Smart POS{% endblock %}
{% block sitetitle %}Sales{% endblock %}
{% block heading %}{% endblock %}
{% block maincontent %}
<div id="app">
  [[ message ]]
</div>
{% endblock %} 
{% block extrajs %}
<!--<script src="{% static 'vendor/vue.js' %}"></script>-->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vuex"></script>
<script>
var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    message: 'Hello Vue!'
  }
});
</script>
{% endblock %}
