{% extends "adminlte/base.html" %}
{% load static from staticfiles %}
{% block title %}Smart POS - Sales Order{% endblock %}
{% block sitetitle %}Sales Screen{% endblock %}
{% block heading %}{% endblock %}
{% block extrajshead %}<script src="{% static 'adminlte/plugins/vuejs/vue.js' %}"></script>{% endblock %}
{% block extrascript %}

<script>

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

     let vm = new Vue({
       el:'#app0',
       data: {
         lines: [],
       },
       methods: {
         prodsearch: function(event){
           fetch("/pos/api/productsearch/"+event.target.value+"/", {
             method: "get",
             credentials: "same-origin",
             headers: {
               "X-CSRFToken": getCookie("csrftoken"),
               "Accept": "application/json",
               "Content-Type": "application/json"
             }
           })
           .then(res => res.json())
           .then((out) => { this.lines = out; });
         },
         greet: function(event,prodname){
           alert(prodname)
         }
       }
     });

   let vm1 = new Vue({
     el:'#app1',
     data: {
       customername: '',
       customerphone:'',
       orderid: '',
       orderlines:[]
     },
     methods: {
       addline: function(event){
         fetch("/pos/api/productsearch/"+event.target.value+"/", {
           method: "get",
           credentials: "same-origin",
           headers: {
             "X-CSRFToken": getCookie("csrftoken"),
             "Accept": "application/json",
             "Content-Type": "application/json"
           }
         })
         .then(res => res.json())
         .then((out) => { this.lines = out; });
       }
     }
   });

 </script>



{% endblock %}

{% block maincontent %}
    <div class="row">
       <div class="col-md-8">
         <div id="app0" class="card card-primary">
           <div class="card-header">
             <!-- Search form -->
             <h3 class="card-title">Product Search</h3>

               <div class="card-tools">
                 <div class="input-group input-group-sm" style="width: 150px;">
                   <input type="text" name="table_search" v-on:keyup.enter="prodsearch" class="form-control float-right" placeholder="Search">

                   <div class="input-group-append">
                     <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>

                     <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                     </button>

                   </div>

                 </div>
               </div>
           </div>

           <div class="card-body table-responsive p-0" style="height: 450px;">
                           <table class="table table-head-fixed">
                             <thead>
                               <tr>
                                 <th>Name</th>
                                 <th>Serial / Batch Number</th>
                                 <th>Store</th>
                                 <th>Store Inventory</th>
                                 <th>Add to Order</th>
                               </tr>
                             </thead>
                             {% verbatim %}
                             <tbody>

                              <tr v-for="line in lines">
                                <td>
                                  {{ line.product.name }}
                                </td>
                                <td>
                                  {{ line.serialbatchnumber }}
                                </td>
                                <td>
                                  {{ line.storename }}
                                </td>
                                <td>
                                  {{ line.count }}
                                </td>
                                <td>
                                  <a href="javascript:;"  v-on:click="greet($event,line.productname)" class="btn btn-sm btn-primary">Add</a>
                                <td>

                                </td>

                              </tr>
                             </tbody>
                             {% endverbatim %}

                           </table>
                         </div>

           </div>
        </div>


     <div class="col-md-4">
       <div id="app1" class="card card-warning">
         <div class="card-header">
           <h3 class="card-title">Order Screen</h3>
         </div>
         {% verbatim %}
          <div class="card-body">
            <div class="invoice-col">
                              <b>Order ID:</b> {{orderid}}<br>
                              <b>Customer Name:</b> {{customername}}<br>
                              <b>Customer Phone:</b> {{customerphone}}
            </div>

            <table class="table table-head-fixed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Serial / Batch Number</th>
                  <th>Store</th>
                  <th>Store Inventory</th>
                  <th>Add to Order</th>
                </tr>
              </thead>

            <tbody>

             <tr v-for="line in orderlines">
               <td>
                 {{ line.productname }}
               </td>
               <td>
                 {{ line.serialbatchnumber }}
               </td>
               <td>
                 {{ line.storename }}
               </td>
               <td>
                 {{ line.count }}
               </td>

               <td>

               </td>

             </tr>
            </tbody>
            </table>



          </div>
        {% endverbatim %}
       </div>
     </div>



{% endblock %}
