{% extends "adminlte/base.html" %}
{% load static from staticfiles %}
{% block title %}Smart POS - Sales Order{% endblock %}
{% block sitetitle %}Sales Screen{% endblock %}
{% block heading %}{% endblock %}
{% block extrajshead %}<script src="{% static 'adminlte/plugins/vuejs/vue.js'  %}"></script>{% endblock %}
{% block extrascript %}

<script>

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

     let vm = new Vue({
       el:'#app',
       data: {
         order: {},
         items: [],
         total: 0.0
       },
       methods: {
         display: function(){
           fetch("/pos/api/salelines", {
             method: "get",
             credentials: "same-origin",
             headers: {
               "X-CSRFToken": getCookie("csrftoken"),
               "Accept": "application/json",
               "Content-Type": "application/json"
             }
           })
           .then(res => res.json())
           .then((out) => { this.order = out; });
         }
       }
     });
   </script>


{% endblock %}

{% block maincontent %}
    <div class="row">
       <div class="col-md-8">
         <div class="card card-primary">
           <div class="card-header">
             <!-- Search form -->
             <h3 class="card-title">Product Search</h3>

               <div class="card-tools">
                 <div class="input-group input-group-sm" style="width: 150px;">
                   <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                   <div class="input-group-append">
                     <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                   </div>
                 </div>
               </div>
           </div>

           <div class="card-body table-responsive p-0" style="height: 450px;">
                           <table class="table table-head-fixed">
                             <thead>
                               <tr>
                                 <th>Name</th>
                                 <th>Serial / Batch Number</th>
                                 <th>Store</th>
                                 <th>Store Inventory</th>
                                 <th>Add to Order</th>
                               </tr>
                             </thead>
                             <tbody>
                              <tr>
                                <td>
                                </td>
                              </tr>
                             </tbody>


                           </table>
                         </div>

           </div>
        </div>


     <div class="col-md-4">
       <div class="card card-warning">
         <div class="card-header">
           <h3 class="card-title">Order Screen</h3>
         </div>
       </div>
     </div>



{% endblock %}
